<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


    <bean id="logAspect" class="aop.LogAspect">
    </bean>

    <bean id="aopBean" class="bean.AopBean">
    </bean>

    <!-- 基于XML的AOP配置是基于config元素开始的 -->
    <aop:config proxy-target-class="false">

        <aop:pointcut id="pointcut" expression="execution(* bean.AopBean.testAspect(..))" />
        <!-- 定义切面 -->
        <aop:aspect id="aspect1" ref="logAspect" order="1">
            <aop:before method="before" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>

    <bean id="beanA" class="bean.A">
        <!--        <property name="b" ref="beanB"/>-->
    </bean>

    <bean id="beanB" class="bean.B">
        <!--        <property name="a" ref="beanA"/>-->
    </bean>


</beans>